@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: hsl(222, 26%, 31%);
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 3% auto 2%;
}


.calc{
    height: 100%;
    min-width: 350px;
    max-width: 350px;;
    display: grid;
    grid-template-areas: 
    "selector"
    "display"
    "keyboard";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 25% 65%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.selector{
    grid-area: selector;
    margin: 0 auto;

}

.display{
    grid-area: display;
    margin: 0 auto;


}

.keyboard{
    grid-area: keyboard;
    margin: 0 auto;

}

/* selector top*/

.selector{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "calMaster theme selectToggle";
    align-items: end;
}

.calMaster{
    grid-area: calMaster;
    font-size: 1.5em;
}

.theme{
    margin-left: 8em;
    grid-area: theme;
    font-size: 0.7em;
}

.selectToggle{
    margin-left: 1em;
    width: 80%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    grid-area: selectToggle;
}

.positions{
    margin-left: 5px;
    letter-spacing: 0.4em;
}

.option {

    background: hsl(223, 31%, 20%);
    display: inline-block;
    padding: 2px 3px;
    border-radius: 20px;
    position:relative;
  }
  
  .option i{
      color: hsl(223, 31%, 20%);
      background: hsl(223, 31%, 20%);
     
  }
  .option label {
    background: hsl(223, 31%, 20%);
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    color: hsl(223, 31%, 20%);
    border-radius: 50%;
    
    z-index:2;
    margin: 0;
    text-align: center;
    padding: 2px 3.5px;
    font-size: 0.7em;
    
  }
  
  .option input {
    
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  
  .option span {
    height: 1.3em;
    width: 1.3em;
    line-height: 5em;
    border-radius: 50%;
    background:hsl(223, 31%, 20%);
    display:block;
    position:absolute;
    left: 22px;
    top: 2px;
    transition:all 0.3s ease-in-out;
  }
  
  .option input[value="1"]:checked ~ span{
    background:hsl(6, 63%, 50%);
    left:2px;
    }
  
  
  .option input[value="2"]:checked ~ span{
    background:hsl(25, 98%, 40%);
    left: 2em;
  }
  
  .option input[value="3"]:checked ~ span{
    background:hsl(176, 100%, 44%);
    left: 3.5em;
  }

/* Display */


.display{
    width: 95%;
    height: 75%;
    max-width: 95%;
    background-color: hsl(224, 36%, 15%);
    border-radius: 10px;
    padding: 5px 15px 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 3em;
    overflow: hidden;
    text-overflow: Ellipsis; 
     
}

/* Keyboard */

.keyboard{
    
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 21.5%);
    grid-template-rows: repeat(5, 17%);
    background-color: hsl(223, 31%, 20%);
    padding: 5%;
    border-radius: 2%;
    gap: 5%;
    

}


.number{
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: hsl(30, 25%, 89%);
    border: none;
    color: hsl(221, 14%, 31%);
    box-shadow: 0px 3px hsl(28, 16%, 65%);
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;

}

.operator{
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    background-color: hsl(30, 25%, 89%);
    border: none;
    color: hsl(221, 14%, 31%);
    box-shadow: 0px 3px hsl(28, 16%, 65%);
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}

.grid-2{
    grid-column: span 2;
    height: 85%;
   
}

.blue{
    
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
    font-size: 1.2em;
    color: hsl(0, 0%, 100%);
}

.red{
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5em;
    border: none;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);
}

.number:hover {
    background-color: hsl(30, 100%, 98%);
  }
.operator:hover {
    background-color: hsl(30, 100%, 98%);
  }


.blue:hover {
    background-color: hsl(225, 29%, 56%);

}
.red:hover {
    background-color: hsl(6, 68%, 55%);

}
.number:active , .red:active,.operator:active {
    box-shadow: 0 2px hsl(28, 16%, 65%);
    transform: translateY(2px);
  }



/* attribution*/
.attribution{
    align-items: center;
    text-align: center;
    color: hsl(223, 31%, 20%);
}
.attribution a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

