@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: hsl(222, 26%, 31%);
    color: #fff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 4% auto;
}


.calc{
    height: 100%;
    min-width: 450px;
    max-width: 500px;;
    display: grid;
    grid-template-areas: 
    "selector"
    "display"
    "keyboard";
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 70%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.selector{
    grid-area: selector;
    margin: 0 auto;

}

.display{
    grid-area: display;
    margin: 0 auto;


}

.keyboard{
    grid-area: keyboard;
    margin: 0 auto;

}

/* selector*/

.selector{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 20% 15%;
    grid-template-areas: "calMaster theme selectToggle";
    align-items: end;
}

.calMaster{
    grid-area: calMaster;
    font-size: 1.5em;
}

.theme{
    grid-area: theme;
    font-size: 0.7em;
}

.selectToggle{
    width: 80%;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    grid-area: selectToggle;
}

.positions{
    margin-left: 5px;
    letter-spacing: 0.4em;
}

.option {

    background: hsl(223, 31%, 20%);
    display: inline-block;
    padding: 2px 3px;
    border-radius: 20px;
    position:relative;
  }
  
  .option i{
      color: hsl(223, 31%, 20%);
      background: hsl(223, 31%, 20%);
     
  }
  .option label {
    background: hsl(223, 31%, 20%);
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    color: hsl(223, 31%, 20%);
    border-radius: 50%;
    
    z-index:2;
    margin: 0;
    text-align: center;
    padding: 2px 3.5px;
    font-size: 0.7em;
    
  }
  
  .option input {
    
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  
  .option span {
    height: 1.3em;
    width: 1.3em;
    line-height: 5em;
    border-radius: 50%;
    background:hsl(223, 31%, 20%);
    display:block;
    position:absolute;
    left: 22px;
    top: 2px;
    transition:all 0.3s ease-in-out;
  }
  
  .option input[value="1"]:checked ~ span{
    background:hsl(6, 63%, 50%);
    left:2px;
    }
  
  
  .option input[value="2"]:checked ~ span{
    background:hsl(25, 98%, 40%);
    left: 2em;
  }
  
  .option input[value="3"]:checked ~ span{
    background:hsl(176, 100%, 44%);
    left: 3.5em;
  }


